# Allowlisting gitignore template

*
!*/

!/.gitignore

# Allow essential Node.js files
!*.js
!*.json

# Allow dependency management
!package.json
!package-lock.json
!yarn.lock

!README.md
!LICENSE
!/Makefile
!/run.sh
!/.replit

