run = "(cd current && just run)"
modules = ["nodejs-20:v29-20240315-3def760"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 8910
externalPort = 80
exposeLocalhost = true

