main {
  font-size: 1.25rem;
  line-height: 1.25em;
  padding: 5%;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #219EBC;
  border: 1px solid #054A91;
}

.item__text {
  background: #8ECAE6;
  color: #023047;
  font-size: 2em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}