@tailwind base;
@tailwind components;
@tailwind utilities;

.item {
@apply gap-1 border justify-center items-center grid grid-cols-3 grid-rows-3 bg-cyan-600 border-sky-800;
  
  }

.item__text {
@apply border flex justify-center items-center bg-blue-300 text-sky-950;
  }


.item_old {
  background: #219EBC;
  border: 1px solid #054A91;
}

.item__text_ild {
  background: #8ECAE6;
  color: #023047;
}