hidden = [
    '.config',
    'package-lock.json',
    'target',
    '.cargo'
]
modules = [
    'rust-stable:v11-20240329-787bc7d',
    'python-3.11:v40-20240329-787bc7d',
    'pyright-extended:v18-20240329-787bc7d',
    'go-1.21:v8-20240329-787bc7d',
    'nodejs-20:v32-20240401-269b323',
    'bun-1.1:v1-20240401-269b323',
    'web:v10-20240329-787bc7d'
]
run = '(cd current && just run)'

[nix]
channel = 'stable-23_11'

[[ports]]
exposeLocalhost = true
externalPort = 80
localPort = 8910

[[ports]]
exposeLocalhost = true
externalPort = 80
localPort = 3000
