run = "bash ./sandbox_run.bash"

[languages.javascript]
pattern = "javascript/**/*.rs"

[languages.python]
pattern = "python/**/*.rs"

[languages.rust]
pattern = "rust/**/*.rs"

[languages.rust.languageServer]
start = ["rust-analyzer"]

[nix]
channel = "stable-23_11"