hidden = [
    '.config',
    'package-lock.json',
    'target',
    '.cargo'
]
modules = [
    'bun-1.1:v1-20240401-269b323',
    'go-1.21:v8-20240329-787bc7d',
    'nodejs-20:v32-20240401-269b323',
    'rust-stable:v11-20240329-787bc7d'
]
run = '(cd frontend && just run)'

[nix]
channel = 'stable-23_11'

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8910
externalPort = 80

