entrypoint = "current/src/main.go"
run = "bash run.sh"

modules = ["go-1.21:v2-20231201-3b22c78"]

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = ["sh", "-c", "go build current/src/main.go"]
run = ["sh", "-c", "current/src/main"]
ignorePorts = false
deploymentTarget = "gce"
