run = "bash current/run.sh"
modules = ["nodejs-20:v29-20240315-3def760"]
hidden = [".redwood",".vscode", "package-lock.json"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 8910
externalPort = 80

[[ports]]
localPort = 8911
externalPort = 3000