# Allowlisting gitignore template

*
!*/

!/.gitignore

# Allow essential files
!*.rb

# Allow dependency management
!*.gemspec
!Gemfile
!Gemfile.lock

!README.md
!LICENSE
!/Makefile
!/run.sh
!/.replit

